@model AvioKompanija.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top: 60px; text-align: center;">Details</h2>

<div>
    <h4 style="padding-left:40px;">User:</h4>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName ) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p style="padding: 40px 0 40px 40px; margin-bottom: 120px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
