@model AvioKompanija.Models.Airport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2  style="padding-top: 70px; text-align: center;">Details</h2>

<div>
    <h4 style="padding-left:40px;">Airports</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p style="padding: 20px 0 20px 40px; margin-bottom: 248px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
